.ticket-common-bg {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-secondary:hover {
  color: #fff;
  background-color: black;
  border-color: black;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 38, 38, 0.5);
}
.ticket-card {
  border-top: 5px solid #000000 !important;
}


