.ticket-common-bg {
  color: #fff;
  background-color: #6d7e87;
  border-color: #6d7e87;
}

.btn-secondary {
  color: #fff;
  background-color: #6d7e87;
  border-color: #6d7e87;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #5c6a72;
  border-color: #56646b;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(131, 145, 153, 0.5);
}
.ticket-card {
  border-top: 5px solid #6d7e87 !important;
}




