.ticket-common-bg {
  color: #fff;
  background-color: #B3182A;
  border-color: #B3182A;
}
.btn-secondary {
  color: #fff;
  background-color: #B3182A;
  border-color: #B3182A;
}

.btn-secondary:hover {
  color: #fff;
  background-color: #911322;
  border-color: #86121f;
}

.btn-secondary:focus,
.btn-secondary.focus {
  box-shadow: 0 0 0 0.2rem rgba(190, 59, 74, 0.5);
}
.ticket-card {
  border-top: 5px solid #B3182A !important;
}
